:root {
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-modal: #2e2f4266;
  --GREY: #2e2f42b2;
  --WHITE: #fff;
  --NAVY-BLUE-modal: #2e2f4266;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;

  color: var(--SLATE);
  background-color: var(--WHITE);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
}
.link {
  text-decoration: none;
}
.logo_element {
  color: var(--NAVY-BLUE);
}
.list .link {
  color: var(--NAVY-BLUE);
  line-height: 1.55;
  letter-spacing: 0.02em;
}
.contact-list .contacts {
  color: var(--SLATE);
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.list .link:hover {
  color: var(--OCEAN);
}
.list .link:focus {
  color: var(--OCEAN);
}
.list {
  font-style: normal;
  color: var(--SLATE);
  list-style: none;
}
.contact-list {
  align-items: center;
  display: flex;
  font-style: normal;
  gap: 40px;
  margin-left: auto;
}
.section {
  padding: 120px 0;
}

.first-section {
  background-color: var(--NAVY-BLUE);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  padding: 188px 0 188px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
  padding: 188px 0;
}

.second-section > h2 {
  color: var(--NAVY-BLUE);
}
.second-section .company-features,
.second-section .list-paragraph {
  text-align: left;
}
.features-list {
  flex-basis: calc((100% - 72px) / 4);
}

.section .list {
  justify-content: center;
}
.order-button {
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--IRIS);
  color: var(--WHITE);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.order-button:hover {
  background-color: var(--OCEAN);
}
.order-button:focus {
  background-color: var(--OCEAN);
}

.company-features {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--NAVY-BLUE);
  margin-bottom: 8px;
  text-align: center;
}
.list-paragraph {
  color: var(--SLATE);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.third-section-header {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--NAVY-BLUE);
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-bottom: 72px;
}
.third-section {
  padding-top: 0;
}
.work-list {
  flex-basis: calc((100% - 48px) / 3);
}
.fourth-section {
  background-color: var(--CLOUD);
}
.smaller-headers {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE);
  font-weight: 700;
  margin-bottom: 72px;
}
.photo-captions {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  margin-bottom: 8px;
  text-align: center;
}
.photo-captions-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  margin-bottom: 16px;
}
.from-team {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
}

.team-list {
  background-color: var(--WHITE);
  border-radius: 0 0 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
  background: var(--WHITE);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.footer {
  background-color: var(--NAVY-BLUE);
  color: var(--CLOUD);
  padding: 100px 0;
}
.footer-logo {
  color: var(--IRIS);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-paragraph {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-size: 16px;
  color: var(--CLOUD);
  letter-spacing: 0.02em;
  line-height: 1.5;
  max-width: 264px;
}

.footer .studio {
  color: var(--CLOUD);
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.section-portfolio {
  padding: 96px 0 120px 0;
}
.section-portfolio .list {
  flex-wrap: wrap;
}

.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
}
.filter-button {
  border: 1px solid var(--CORNFLOWER);
  color: var(--IRIS);
  background-color: var(--CLOUD);
  padding: 12px 24px;
}
.filter-button:hover {
  color: var(--WHITE);
  background-color: var(--OCEAN);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.work-list,
.portfolio-list {
  flex-basis: calc((100% - 48px) / 3);
}
.portfolio-captions {
  border: 1px solid var(--CORNFLOWER);
  border-top: none;
  padding: 32px 16px;
}
.portfolio-captions:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.smaller-captions {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
  text-align: center;
}
.smaller-captions-portfolio {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}

.logo_element-footer {
  color: var(--CLOUD);
  line-height: 1.17;
}

.container {
  justify-content: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1158px;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid var(--CORNFLOWER);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.logo-header {
  margin-right: 76px;
}
.navigation {
  display: flex;
  align-items: center;
}
.contact-list {
  display: flex;
}
.list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.buttons {
  margin-bottom: 72px;
  justify-content: center;
}
.portfolio-container {
  row-gap: 48px;
  text-align: left;
}
.list-studio {
  color: var(--NAVY-BLUE);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0;
}
.nav-list {
  padding: 24px 0;
  gap: 40px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.navigation-list {
  display: flex;
  align-items: center;
}
.portfolio-captions > .smaller-captions {
  margin-bottom: 8px;
  text-align: center;
}
.banner {
  color: var(--WHITE);
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
  text-align: center;
  margin: 0 auto 48px auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header-options {
  display: flex;
  gap: 40px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.icons-about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: var(--CLOUD);
  margin-bottom: 8px;
}
.social-icon {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}
.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--IRIS);
  border-radius: 50%;
  justify-content: center;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--OCEAN);
}
.social-svg {
  fill: var(--CLOUD);
}
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  gap: 24px;
}
.customers-logo {
  display: flex;
  width: 168px;
  height: 88px;
  border-radius: 4px;
}
.customers-header {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE);
  font-weight: 700;
  margin-bottom: 72px;
}

.left-footer {
  margin-right: 120px;
}

.social-media-footer {
  display: flex;
  gap: 16px;
}
.socia-media-footer-li {
  display: flex;
  height: 40px;
  width: 40px;
  list-style: none;
}

.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--LIGHT-SLATE);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--LIGHT-SLATE);
}
.customer-link:hover,
.customer-link:focus {
  color: var(--OCEAN);
  border-color: var(--OCEAN);
}
.logo-svg {
  fill: currentColor;
  width: 168px;
  height: 88px;
}
.footer-container {
  align-items: baseline;
  display: flex;
  justify-content: flex-start;
}
.social-media-text {
  color: var(--WHITE);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 16px;
  font-size: 16px;
}
.social-media-list-footer {
  display: flex;
  gap: 16px;
}
.sm-footer-icons {
  fill: var(--CLOUD);
}
.social-link-footer {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--IRIS);
  border-radius: 50%;
  justify-content: center;
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--GREEN);
}
